src/main/mule/azure-sample-poc.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="edec17cc-676b-425c-b6b1-872d3f39adc5" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="azure-sample-pocFlow" doc:id="efac820c-673e-4de6-b5a1-e5a89a31af44" >
		<http:listener doc:name="Listener" doc:id="9438c93d-68e4-45b8-acf9-007c564a5d87" config-ref="HTTP_Listener_config" path="/azure"/>
		<set-payload value='#["successfully deployed the api in azure pipeline"]' doc:name="Set Payload" doc:id="f1b73d3e-b80f-4180-bc01-98202d8155e6" />
	</flow>
</mule>
